@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mulish:wght@300&display=swap');

body{
    font-family: 'Lato', sans-serif;
    background-color: #8e44ad;
    color: #fff;
    display: flex;
    height: 100vh;
    align-items: center;
    margin: 0;
    overflow: hidden;
}

.counter-container{
    display: flex;
    flex-direction: column;
    
}