@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

body {
    font-family: 'Rubik Iso', cursive;
    background-color: darksalmon;
    display:flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;

}